<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<style type="text/css">
@media print {
  a[href]:after {
    content: none;
  }
   #xo-logo-head ,  #xo_globalnav , #xo-nav-options , #buttontop_mod ,#buttonbar_mod , #xo-footer ,  .pad5 ,#frm , #frm_add {
      display: none;
   }
}
</style >

<div id='frm' class="row-fluid"  >
    <form class="form-horizontal"   action="data_output.php" method='post'>
        <span><label>繳費項目：( 記錄有時效性，歷史資料會受學籍名冊影響！)</label></span><{html_options name=item_id options=$data.item_list selected=$data.select_item  onchange="submit();"  class="span4" }>
        <a class="btn btn-success"  href="to_bank.php?do=excel&item_id=<{$data.select_item}>">收費清冊 excel</a>
        <a class="btn btn-success"  href="receipt.php?do=excel&item_id=<{$data.select_item}>">學生收據 excel</a>
        <a class="btn btn-primary"  href="poster_data.php?do=excel&item_id=<{$data.select_item}>">產生郵局傳送檔(僅本系統中)</a>
   </form>
</div>

     <{if ($data.out_student)   }><{* 多餘繳費人記錄 *}>
     <div class="alert alert-error">
        <{foreach  key=stud_sn item=s_stud   from= $data.out_student }>
                <p>繳費記錄中： 班級:<{$s_stud.class_id}> 學生: <{$s_stud.rec_name}>已不在最新的學生名冊中！是否已轉出？(id:<{$s_stud.record_id}>)</p>
         <{/foreach}>
     </div>
     <{/if}>
