<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />


<div id='frm' class="row-fluid"  >
    <form class="form-horizontal"   action="post_join.php" method='post' enctype='multipart/form-data'  >
        <span><label>繳費項目：( 記錄有時效性，歷史資料會受學籍名冊影響！)</label></span><{html_options name=item_id options=$data.item_list selected=$data.select_item  onchange="submit();"  class="span4" }>
        <p>1.<button type='submit'  name='do_key' value='add' class='btn btn-success'>本次收費學生匯入資料</button></p>
        <p>
            <span>2.其他扣款學生 excel (如幼稚園)：</span>
        <input type=file name=userdata>
        <button type='submit'  name='do_key' value='add_other' class='btn btn-success'>匯入</button>
        </p>
        <p>3.<button type='submit'  name='do_key' value='export' class='btn btn-primary'>產生郵局傳送檔</button></p>
        <br /><br /><br /><br />
        <p><button type='submit'  name='do_key' value='clear' class='btn btn-danger' title='清空資料重新再匯'  onclick='return confirm("確定要刪除?")'  >清空本次資料</button></p>
   </form>

</div>

<{if ($err_message) }><{* 錯誤 *}>
<div class="alert alert-danger">
    <{$err_message}>
</div>
<{/if}>

<div >
    統計資料：(不含扣款手續費)<br />
    <{* 統計資料 *}>
    <table class="table table-bordered">
        <tr>
            <td>類別</td>
            <td>名冊內</td>
            <td>EXCEL</td>
            <td>總計</td>
        </tr>
        <tr>
            <td>需繳人數(總金額)</td>
            <td><{$data.total.num.0.all}> ( <{$data.total.pay.0.all}> 元 )</td>
            <td><{$data.total.num.1.all}> ( <{$data.total.pay.1.all}> 元 )</td>
            <td><{$data.total.num.all}> ( <{$data.total.pay.all}> 元 )</td>
        </tr>
        <tr>
            <td>扣款人數(總金額)</td>
            <td><{$data.total.num.0.0}> ( <{$data.total.pay.0.0}> 元 )</td>
            <td><{$data.total.num.1.0}> ( <{$data.total.pay.1.0}> 元 )</td>
            <td><{$data.total.num.pm.0}> ( <{$data.total.pay.pm.0}> 元 )</td>
        </tr>
        <tr>
            <td>現金繳費(總金額)</td>
            <td><{$data.total.num.0.1}> ( <{$data.total.pay.0.1}> 元 )</td>
            <td><{$data.total.num.1.1}> ( <{$data.total.pay.1.1}> 元 )</td>
            <td><{$data.total.num.pm.1}> ( <{$data.total.pay.pm.1}> 元 )</td>
        </tr>
    </table>
</div>
   <a href='pay_sample.xlsx' target='_blank' class='btn btn-inverse'>下載：扣款學生 EXCEL 範例檔</a><br/>
     <div class="alert alert-info">
        說明：<br />
        本功能在提供轉換出郵局扣款記錄，支援在無學生名冊的情形下使用。<br />
        如果有使用收費系統，先把本次收費資料匯入。再匯入其他年段(如幼稚班)的 Excel 資料。<br />
        也可以全部不使用收費系統，全以 EXCEL 資料匯入。<br />
        如果資料有修改過，建議全部清空後再重新匯入。<br />
    </div>
