<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<style type="text/css">
@media print {
  a[href]:after {
    content: none;
  }
   #xo-logo-head ,  #xo_globalnav , #xo-nav-options , #buttontop_mod ,#buttonbar_mod , #xo-footer ,  .pad5 ,#frm , #frm_add {
      display: none;
   }
}
</style >

<div id='frm' class="row-fluid"  >
    <form class="form-horizontal"   action="sum.php" method='post'>
      	<span><label>繳費項目：( 記錄有時效性，歷史資料會受學籍名冊影響！)</label></span><{html_options name=item_id options=$data.item_list selected=$data.select_item  onchange="submit();"  class="span4" }>
 	<a class="btn btn-success"  href="sum_class.php?do=excel&item_id=<{$data.select_item}>">各班總額統計</a>
      	<a class="btn btn-success"  href="sum_detail.php?do=excel&item_id=<{$data.select_item}>">各班細目統計</a>
      	<a class="btn btn-success"  href="sum_class_detail.php?do=excel&item_id=<{$data.select_item}>">各年級細目統計</a>
   </form>
</div>   

     <{if ($data.out_student)   }><{* 多餘繳費人記錄 *}> 
     <div class="alert alert-error">
        <{foreach  key=stud_sn item=s_stud   from= $data.out_student }>
                <p>繳費記錄中： 班級:<{$s_stud.class_id}> 學生: <{$s_stud.rec_name}>已不在最新的學生名冊中！是否已轉出？(id:<{$s_stud.record_id}>)</p>
         <{/foreach}>
     </div>   
     <{/if}>
<h3>各班收費總額統計</h3>     
  <table class="table table-bordered" class='span8' >
  <tr>
       <td class='span1'>班級</td>
      <td class='span1'>在籍人數</td>
      <td class='span1'>項目金額</td>
      <td class='span1'>收費人數</td>
      <td class='span1'>項目總額</td>
      <td class='span1'>減免總額</td>
      <td class='span1'>應收總額</td>
  </tr>    
<{foreach  key=class_id item=class   from= $data.record }>
  <tr>
  <td><{$data.class_list_c[$class_id]}></td>
  <td><{$data.students[$class_id]}></td>
  <td><{$class.dollars}></td>
  <td><{$class.st_count}></td>
  <td><{$class.dollars_sum}></td>
  <td><{$data.decrease_sum[$class_id]}></td>
  <td><{ $class.dollars_pay  }></td>
 </tr>
<{/foreach}>
  <tr>
  <td>小計: <{$data.all_class_count}> 班 </td>
  <td><{$data.all_st_num}></td>
  <td> </td>
  <td><{$data.all_pay_st_num}></td>
  <td><{$data.all_pay_dollars_sum}></td>
  <td><{$data.all_decrease}></td>
  <td><{$data.all_pay}></td>
 </tr>
</table>


