<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />


<{if ($DEF.bank_account_use)}>

<div id='frm' class="row-fluid"  >
    <form class="form-horizontal"   action="post_join.php" method='post' enctype='multipart/form-data'  >
        <div  class="row-fluid"  >
        <span class='span4'><h1>郵局扣款轉檔</h1></span>
            <span class='span5'>
            <button type='submit'  name='do_key' value='clear' class='btn btn-danger' title='如資料有修改過，先清空資料才重新再匯'  onclick='return confirm("確定要清空?")'  >清空本次資料</button>
            <a href='pay_sample.xlsx' target='_blank' class='btn btn-inverse' title='其它要扣款的學生(如幼稚園)'>下載：扣款學生 EXCEL 範例檔</a>
            </span>
        </div>
        <span><label>繳費項目：<span class='alert alert-info'>( 記錄有時效性，歷史資料會受學籍名冊影響！)</span></label></span><{html_options name=item_id options=$data.item_list selected=$data.select_item  onchange="submit();"  class="span4" }>
        <p>1.<button type='submit'  name='do_key' value='add' class='btn btn-success' title='在本收費名單系統操作的學生'>單位名冊內收費學生匯入資料</button></p>
        <p>
            <span>2.其他扣款學生 excel (如幼稚園)：</span>
        <input type=file name=userdata accept='.xls,.xlsx'>
        <button type='submit'  name='do_key' value='add_other' class='btn btn-success' title='注意格式是否正確！範例檔案請由上方黒色按鍵處取得。'>匯入</button>
        <div class='alert alert-info'>使用的年級、班級代號，如果 EXCEL 名稱不一致，會無法比對。(使用到的名稱如下：<{ $DEF.es_c_other_class2id }>)</div>
        </p>
        <p>3.<button type='submit'  name='do_key' value='export_excel' class='btn btn-inverse' title='含其他扣款的全部記錄檔，方便再次校對使用。'>本次繳費記錄匯出 EXCEL</button>
            <span class='alert alert-info'>再次檢查用，檢查帳號格式等是否正確。</span>
        </p>
    <{if ($has_error)}>

        <div class="alert alert-danger">
            <p>4.有錯誤！無法進行下一步[郵局傳送檔]。以下錯誤訊息有錯誤列的內容，請修正後，清空本次資料後再重作。</p>
            <{$err_log}>
        </div>
    <{else}>
        <p>4.<button type='submit'  name='do_key' value='export' class='btn btn-primary' title='文字檔，請下載存檔。'>產生郵局傳送檔</button>
            <span class='alert alert-danger'>注意下方統計資料是否完全相符！並查看下載的文字檔內容是否合理</span>
        </p>
    <{/if}>
            <br /><br />
   </form>

</div>



<{if ($err_message) }><{* 錯誤 *}>
<div class="alert alert-danger">
    <{$err_message}>
</div>
<{/if}>

<div >
    統計資料：(不含扣款手續費)<br />
    <{* 統計資料 *}>
    <table class="table table-bordered">
        <tr>
            <td>類別</td>
            <td>單位名冊內</td>
            <td>EXCEL匯入部份</td>
            <td>總計</td>
        </tr>
        <tr>
            <td>需繳人數(總金額)</td>
            <td><{$data.total.num.0.all}> 人 ( <{$data.total.pay.0.all}> 元 )</td>
            <td><{$data.total.num.1.all}> 人 ( <{$data.total.pay.1.all}> 元 )</td>
            <td><{$data.total.num.all}> 人 ( <{$data.total.pay.all}> 元 )</td>
        </tr>
        <tr>
            <td>郵局扣款人數(總金額)</td>
            <td><{$data.total.num.0.0}> 人 ( <{$data.total.pay.0.0}> 元 )</td>
            <td><{$data.total.num.1.0}> 人 ( <{$data.total.pay.1.0}> 元 ) </td>
            <td><{$data.total.num.pm.0}> 人 ( <{$data.total.pay.pm.0}> 元 )</td>
        </tr>
        <tr>
            <td>自行繳費人數(總金額)</td>
            <td><{$data.total.num.0.1}> 人 ( <{$data.total.pay.0.1}> 元 )</td>
            <td><{$data.total.num.1.1}> 人 ( <{$data.total.pay.1.1}> 元 )</td>
            <td><{$data.total.num.pm.1}> 人 ( <{$data.total.pay.pm.1}> 元 )</td>
        </tr>
    </table>
    郵局格式最後總計：<{$data.p_text}>
</div>
<div class="alert alert-info">
   說明：<br />
   本功能在提供轉換出郵局扣款記錄，支援在無學生名冊的情形下使用。<br />
   如果有使用收費系統，先把本次收費資料匯入。再匯入其他年段(如幼稚班)的 Excel 資料。<br />
   也可以全部不使用收費系統，全以 EXCEL 資料匯入。<br />
   如果資料有修改過，建議全部清空後再重新匯入。<br />
   完成後要保留資料，不可再刪除，否則下方的對帳功能將無法使用。
</div>
<div id='frm2' class="row-fluid  "  >
    <form class="form-horizontal"   action="post_join.php" method='post' enctype='multipart/form-data'  >
        <div  class="row-fluid"  >
        <span class='span4'><h1>郵局扣款結果對帳</h1></span>
        </div>
        <span><label>繳費項目：</label></span><{html_options name=item_id options=$data.item_list selected=$data.select_item  onchange="submit();"  class="span4" }>
        <p>
            <span>郵局扣款結果檔：</span>
        <input type=file name='result_data' accept='.txt'>
        <button type='submit'  name='do_key2' value='result_upload' class='btn btn-success' title='上傳郵局的交易結果文字檔'>上傳</button>
        </p>
        <p><button type='submit'  name='do_key2' value='result_stud' class='btn btn-primary' title='匯出 EXCEL 格式檔'>下載扣款失敗名冊</button></p>
        <{if ($data.fail_studs) }>
        <table class="table table-bordered">
            <tr>
                <td>類別</td>
                <td>人數(筆數)</td>
                <td>金額</td>
             </tr>
             <tr>
                 <td>送郵局扣款</td>
                 <td><{$data.item.p_rec_num  }> 筆</td>
                  <td><{$data.item.p_sum  }> 元</td>
              </tr>
              <tr>
                  <td>郵局對帳單</td>
                  <td><{$data.item.c_rec_num  }> 筆</td>
                   <td><{$data.item.c_sum  }> 元  (*註1)</td>
               </tr>
               <tr>
                   <td>扣款失敗</td>
                   <td><{$data.item.f_rec_num  }> 筆</td>
                    <td><{$data.item.f_sum  }> 元 (*註2)</td>
                </tr>
               <tr>
                   <td>扣款失敗學生需補繳</td>
                   <td><{$data.fail_studs.stud_num  }> 人</td>
                    <td><{$data.fail_studs.pay_sum  }> 元</td>
                </tr>
            </table>
            *註1：請和郵局對帳單最後一行最後的數字做比對是否正確。<br>
            *註2：檢查補繳金額式子是否正確： <{$data.item.f_sum  }>  -    <{$data.item.f_rec_num  }> *    <{$DEF.fee}> =  <{$data.fail_studs.pay_sum  }>
        <{/if}>
        <br />
        <{$message2}>
        <br />
   </form>
</div>
   <br/>
     <div class="alert alert-info">
        說明：<br />
        上傳郵局對帳檔，會把扣款失敗學生做標記。
    </div>
    <{else}>
    <h3>未使用郵局扣款！(偏好設定中未啟用)</h3>
    <{/if}>
